.content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .FormFilter{
        width: 30%;
        // display: none;
        padding: 30px 50px;
        @include large {
            width: 100%;
          }
        form{
            width: 100%;
            .title{
                font-size: 25px;
            }
            .boxItem{
                width: 100%;
                margin: 15px 0;
                label{
                    display: block;
                    color: $main-color;
                    font-weight: bold;
                }
                input{
                    border: 0;
                    overflow: hidden;
                    outline: none;
                    border-bottom: 2px solid #eaeaea;
                }
                .ant-select-selector{
                    padding: 0;
                }
            }
        }
    }
    .ListEmploy{
        width: 100%;
    }
    .ListEmployFilter{
        width: 70%;
        @include large {
            width: 100%;
          }
    }
}
table {
    // font-size: 17px;
    @include tablets {
      border: 0;
    }
    caption {
      @include tablets {
        font-size: 1.3em;
      }
    }
    thead {
      @include tablets {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
    }
    tr {
      @include tablets {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
      }
    }
    td {
      @include tablets {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }
    }
    td::before {
      @include tablets {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    td:last-child {
      border-bottom: 0;
    }
  }