.contentDetail {
  background: #eaeaea;
  .layout {
    padding: 30px;

    .detailTop {
      display: flex;
      .item {
        width: 50%;
        padding: 0 25px;
        .inner {
          background-color: #fff;
          padding: 0 10px;
          .title {
            padding-top:5px;
            font-size: 20px;
            font-weight: 600;
            border-bottom: 2px solid #eaeaea;
          }
          .content {
            padding: 20px 0;
            .contentTop {
              display: flex;
              .avatar {
                position: relative;
                .txt {
                  margin-bottom: 20px;
                }
                .avt {
                  width: max-content;
                  height: max-content;
                  border: 10px solid #9999;
                  border-radius: 50%;
                  margin: 0 20px;
                }
                .changeAvt {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  @include flex(center, center);
                  color: $txt-white;
                  font-size: 35px;
                  background: $main-color;
                  position: absolute;
                  bottom: 0;
                  left: 20px;
                  cursor: pointer;
                }
              }
            }
            .contentBottom {
              margin-top: 20px;
              margin-bottom: 20px;
              width: 100%;
              display: flex;
              .box {
                width: 25%;
                .txt {
                  color: $main-color;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .detailInfo {
          margin-bottom: 20px;
          .title {
            font-size: 20px;
            font-weight: 600;
            border-bottom: 2px solid #eaeaea;
          }
          &_content {
            padding-top: 20px;
            padding-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            .boxItem {
              width: 33.33%;
              margin-bottom: 25px;
              input {
                border: 0;
                overflow: hidden;
                outline: none;
                border-bottom: 2px solid #eaeaea;
              }
            }
          }
        }
        .credentials {
          &_content {
            padding-top: 20px;
            padding-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            .boxItem {
              width: 33.33%;
              margin-bottom: 25px;
              input {
                border: 0;
                overflow: hidden;
                outline: none;
                border-bottom: 2px solid #eaeaea;
              }
            }
          }
        }
      }
    }
    .detailBottom {
      padding: 25px;
      .title {
          padding-top:10px;
        font-size: 20px;
        font-weight: 600;
        border-bottom: 2px solid #eaeaea;
      }
      .ItemContent {
        margin-top: 20px;
        .tabs {
          display: flex;
          padding-bottom: 20px;
          .tabItem{
            background: $color-second;
              border:0;
              color: $txt-white;
              margin-right: 30px;
              font-weight: 500;
              border-radius: 7px;
              width: 120px;
              padding: 5px 0;
          }
          button.active{
            background: $main-color;
          }
        }
      }
    }
  }
}
.inner {
  background-color: #fff;
  padding: 0 10px;
  box-shadow: $box-shadow;
}
